version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/Fast_api_app
    ports:
      - 8000:80
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@postgres-real/postgres
      - REDIS_HOST=redis-real
      - REDIS_PORT=6379
    depends_on:
      postgres-real:
        condition: service_healthy

  postgres-real:
    container_name: postgres-real
    image: postgres:15.1-alpine
    volumes:
      - postgres-real:/var/l  ib/postgresql/data/
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - '5433:5433'
    restart: always
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready" ]

  redis-real:
    container_name: redis-real
    image: redis:latest
    command: redis-server --appendonly no
    ports:
      - "6379:6379"
volumes:
  postgres-real:
